In [2]:
import pandas as pd
import os

In [23]:
directory_path = '/home/tembulat/AnalyticsProjects/data-analytics-learning/notebooks/01_module'
folder_data = [i for i in os.listdir(directory_path) if not i.startswith('.')]

In [24]:
folder_data

['02_part', '03_part', '04_part']

In [25]:
path = '../../../data/01_module/04_part/data_logs_user_1.txt'

In [61]:
meal_data = open(path).readlines()
all_data = []

In [62]:
scanning = False
for i in meal_data:
    if 'Все сохранённые метки' in i:
        scanning = False

    if scanning:
        if '| № |' in i:
            col_name = i
            continue
        if '---' in i:
            continue
        all_data.append([value.strip(' \n') for value in i.split('|')])

    if 'Сохранённые метки (не удалённые)' in i:
        scanning = True

In [69]:
final_col_names = [col.strip(' |\n') for col in col_name.split(' | ')]
final_col_names

['№',
 'Время начала DDR5',
 'Время конца',
 'Флаг1',
 'E-DN',
 'QBh',
 'Fn1',
 'Проект',
 'Нач. калибр',
 'Кон. калибр',
 'Показания',
 'Регги',
 'Флаги',
 'Посл.',
 'Тип',
 'Проп1']

In [76]:
data = [i[1:-1] for i in all_data if len(i) > 1]

In [78]:
meal_df = pd.DataFrame(data=data, columns=final_col_names)

In [79]:
meal_df.head()

,№,Время начала DDR5,Время конца,Флаг1,E-DN,QBh,Fn1,Проект,Нач. калибр,Кон. калибр,Показания,Регги,Флаги,Посл.,Тип,Проп1
0,0,30.09.2023 21:05:17,30.09.2023 19:06:14,7.00,0.77,3.70,0.76,1500000000,1500000000,0.75,0.75,0.75,0.75,0.75,0.75,0.75
1,1,30.09.2023 21:08:16,30.09.2023 19:04:13,7.00,0.77,3.70,0.76,1500000000,1500000000,0.75,0.75,0.75,0.75,0.75,0.75,0.75
2,2,30.09.2023 21:09:12,30.09.2023 19:04:11,7.00,0.77,3.70,0.76,1500000000,1500000000,0.75,0.75,0.75,0.75,0.75,0.75,0.75
3,3,30.09.2023 21:09:12,30.09.2023 19:04:11,7.00,0.77,3.70,0.76,1500000000,1500000000,0.75,0.75,0.75,0.75,0.75,0.75,0.75
4,4,30.09.2023 21:09:12,30.09.2023 19:04:11,7.00,0.77,3.70,0.76,1500000000,1500000000,0.75,0.75,0.75,0.75,0.75,0.75,0.75

In [107]:
meal_df = meal_df.astype({'Показания': 'float', 'QBh': 'float'})

In [108]:
meal_df['Время начала DDR5'] = pd.to_datetime(user_meal_df['Время начала DDR5'], dayfirst=True)

In [109]:
user_meal_df = meal_df[['Время начала DDR5', 'QBh', 'Показания']]

In [111]:
user_meal_df.dtypes

Время начала DDR5    datetime64[ns]
QBh                         float64
Показания                   float64
dtype: object

In [117]:
user_meal_df.groupby('Время начала DDR5', as_index=False) \
    .agg({'Показания': 'sum'})

    Время начала DDR5  Показания
0 2023-09-30 21:05:17       0.75
1 2023-09-30 21:08:16       0.75
2 2023-09-30 21:09:12       5.25

In [ ]:
pd.to_csv('df_properties.csv')